body {
  background-color: black;
  color: white;
}

button,
input[type="text"] {
  outline: none;
}

button:hover,
.button {
  cursor: pointer;
}

.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  flex-direction: column;
  width: 50%;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
}

.auth-form > header {
  display: flex;
  align-items: center;
}

.auth-form > header > i:first-child {
  font-size: 40px;
  color: #4c9be5;
  margin-right: 5px;
  margin-bottom: 20px;
  animation: iconOpacity 3s linear infinite;
}

@keyframes iconOpacity {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.auth-form > header > span {
  font-weight: 700;
  font-size: 15px;
}

.auth-form > form {
  display: flex;
  flex-direction: column;
}

.auth-form > form > input {
  margin: 10px;
  border-radius: 20px;
  border: 2px solid black;
  padding: 10px;
  outline: none;
}

.auth-form > form > input[type="submit"] {
  background-color: #4c9be5;
  color: white;
  font-weight: 800;
}

.auth-form-buttons > button {
  border-radius: 20px;
  margin: 10px;
  margin-top: 40px;
  border: 2px solid black;
  padding: 10px;
  font-weight: 800;
}

.auth-form-buttons > button:first-child {
  color: white;
  background-image: linear-gradient(
    -120deg,
    #4285f4,
    #34a853,
    #fbbc05,
    #ea4335
  );
  background-size: 400% 400%;
  animation: gradientEffect 5s linear infinite;
  box-shadow: 0px 2px;
}

.auth-form-buttons > button:nth-child(2) {
  color: white;
  background: linear-gradient(
    45deg,
    #4078c0,
    #6e5494,
    #bd2c00,
    #c9510c,
    #6cc644,
    #fafafa
  );
  background-size: 400% 400%;
  animation: gradientEffect 5s linear infinite;
  box-shadow: 0px 2px;
}

.auth-form-buttons > button > i {
  margin-left: 5px;
}

@keyframes gradientEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* TWEET FORM */
.tweet-form {
  display: flex;
  justify-content: center;
}

.tweet-form > input[type="text"] {
  padding: 10px;
  width: 180px;
  margin-right: 20px;
  border-radius: 25px;
  border: 2px solid black;
  background-color: white;
  box-shadow: 0px 3px white;
}

.tweet-form > input[type="text"]::placeholder {
  padding-left: 10px;
}

.tweet-form > button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #4c9be5;
  border: 2px solid black;
  color: white;
  box-shadow: 0px 2px white;
}

.tweet-form > button:hover {
  animation: buttonPress 0.3s linear forwards;
}

.tweet-form > button > i {
  animation: iconOpacity 2s linear infinite;
}

/* TWEETS */

.tweeter-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.tweets-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  width: 25%;
  border-radius: 20px;
  padding: 20px;
}

.tweet {
  margin-top: 20px;
  width: 320px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 5px white;
  border: 3px solid black;
  border-top-left-radius: 0px;
  margin-right: 65px;
}

.my-tweet {
  margin-top: 20px;
  width: 320px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 5px white;
  border: 3px solid black;
  border-top-right-radius: 0px;
  margin-left: 65px;
}

.tweet > h2,
.my-tweet > h2 {
  padding: 15px;
  color: black;
}

.edit-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  color: black;
  font-size: 20px;
}

.edit-buttons > i {
  margin-right: 5px;
  transition: transform 0.5s ease-in-out;
}

.edit-buttons > i:hover {
  transform: scale(1.5);
  cursor: pointer;
}
/* NAV STYLE */
nav {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.nav-icon {
  font-size: 40px;
  color: black;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 4px white;
  border: 2px solid black;
}

.nav-icon:first-child {
  margin-right: 40px;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  width: 30%;
}

.nav-icon:hover {
  animation: buttonPress 0.3s linear forwards;
}

@keyframes buttonPress {
  from {
    transform: none;
  }
  to {
    box-shadow: 0px 2px white;
  }
}
